/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Plotly.js
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

body {
  background-color: rgb(26,25,25);}

#bigfoot-text-filter .VirtualizedSelectOption {
  background-color: rgb(26,25,25);
  color: white;
}
